rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /media/{allPaths=**} {
      allow read: if request.auth != null;

      allow create, update: if request.auth != null
        && request.auth.token.email == "admin@familja.local"
        && request.resource.size < 250 * 1024 * 1024
        && (request.resource.contentType.matches("image/.*")
          || request.resource.contentType.matches("video/.*"));

      allow delete: if request.auth != null
        && request.auth.token.email == "admin@familja.local";
    }
  }
}
